.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    padding: 2rem;
    background-color: var(--surface-ground);
}

:host ::ng-deep {
    .p-card {
        max-width: 600px;
        margin: 0 auto;
    }
}
