<div class="topbar">
  <div class="topbar-left">
    <i class="pi pi-bars menu-toggle"></i>
    <input type="text" class="search" placeholder="Search here...">
  </div>
  <div class="topbar-right">
    <button class="icon-btn"><i class="pi pi-sun"></i></button>
    <span class="lang">English</span>
    <button class="icon-btn"><i class="pi pi-th-large"></i></button>
    <button class="icon-btn"><i class="pi pi-envelope"></i></button>
    <button class="icon-btn"><i class="pi pi-bell"></i></button>
    <img class="avatar" src="https://i.pravatar.cc/32" alt="avatar">
  </div>
</div> 